.navbar-img-color li a svg {
    fill: red;
}

.text-stoke-parent {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

.text-stroke-black {
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
    color: transparent;
    z-index: -1;
}